.entrada{
    margin-top: 0px;
    color: rgba(253, 252, 248, 0.979); 
    background-color: cadetblue;
    height: 250px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    
.ImagenEntrada{
    height: 150px;
} 
}
.menu{
    background-color: goldenrod;
    justify-content: center;
    vertical-align: middle; 
    display: flex;
}
h2{
   color: rgb(8, 162, 233); 
}
h3{
    color: gold;
}
.imagen{

}
.juegos{
    margin: auto;
}